---
import EditorJS from "$lib/components/svelte/widgets/EditorJS.svelte"
import Layout from "$lib/layouts/Layout.astro"
---

<Layout title="Dashboard">
  <section>
    <EditorJS client:only="svelte" />
  </section>
</Layout>