---
import Layout from "$lib/layouts/Layout.astro";
import Hero from "$lib/components/astro/Hero.astro";
import { services } from "$lib/modules/constants";
import type { iService } from "$lib/modules";

const { id } = Astro.params;
const pathname = `/services/${id}`
const service = services.find(service => service.href === pathname) as iService

if (!service) {
  return Astro.redirect("/404")
}
---

<Layout title={id as string}>
  <section class="center">
    <Hero
      class="center"
      title={service.name}
      subline={service.subline}
    />
    {
      service ? service.content : "No content found"
    }
  </section>
</Layout>
