---
import Layout from "../../layouts/Layout.astro";
import Hero from "$lib/components/astro/Hero.astro";
import ServiceList from "$lib/components/svelte/ServiceList.svelte";
---

<Layout title="Services | Dhub Property">
  <div class="md:center flex flex-col gap-4">
    <Hero
      title="Our Services"
      subline="Exceptional Solutions Tailored to Your Needs – Redefining Real Estate with Expertise and Care."
    />
    <div class="px-4 md:px-0">
      <ServiceList client:load />
    </div>
  </div>
</Layout>
