---
import LogoWhite from "../svelte/icons/LogoWhite.svelte";
import { Button } from "../ui/button";
import SubscriptionForm from "../svelte/SubscriptionForm.svelte";
---

<footer class="bg-[#27272a] dark:bg-secondary py-4">
  <div class="center mx-auto grid grid-cols-1 md:grid-cols-4 gap-4 px-0">
    <!-- About Empowerkidz -->
    <div class="px-4 md:px-0 mx-auto w-full">
      <h2 class="font-semibold mb-4 text-white">About Us</h2>
      <ul class=" flex flex-col gap-2">
        <li>
          <Button
            href="/about#who-we-are"
            variant="link"
            class="p-0 opacity-70 dark:opacity-100 text-white dark:text-muted-foreground "
            >Who we are</Button
          >
        </li>
        <li>
          <Button
            href="/about#what-we-offer"
            variant="link"
            class="p-0 opacity-70 dark:opacity-100 text-white dark:text-muted-foreground "
            >What we offer</Button
          >
        </li>
      </ul>
    </div>

    <!-- Contact Information -->
    <div class="px-4 md:px-0 mx-auto w-full">
      <h2 class="font-semibold mb-4 text-white">Resources</h2>
      <ul class=" flex flex-col gap-2">
        <li>
          <Button
            href="/services"
            variant="link"
            class="p-0 opacity-70 dark:opacity-100 text-white dark:text-muted-foreground "
            >Our Services</Button
          >
        </li>
        <li>
          <Button
            href="/blogs"
            variant="link"
            class="p-0 opacity-70 dark:opacity-100 text-white dark:text-muted-foreground "
            >Blogs</Button
          >
        </li>
        <li>
          <Button
            href="/contact"
            variant="link"
            class="p-0 opacity-70 dark:opacity-100 text-white dark:text-muted-foreground "
            >Contact Us</Button
          >
        </li>
      </ul>
    </div>

    <!-- Legal Links -->
    <div class="px-4 md:px-0 mx-auto w-full">
      <h2 class="font-semibold mb-4 text-white">Legal</h2>
      <ul class=" flex flex-col gap-2">
        <li>
          <Button
            href="/privacy-policy"
            variant="link"
            class="p-0 opacity-70 dark:opacity-100 text-white dark:text-muted-foreground "
            >Privacy Policy</Button
          >
        </li>
        <li>
          <Button
            href="/cookie-policy"
            variant="link"
            class="p-0 opacity-70 dark:opacity-100 text-white dark:text-muted-foreground "
            >Cookie Policy</Button
          >
        </li>
        <li>
          <Button
            href="/terms-of-use"
            variant="link"
            class="p-0 opacity-70 dark:opacity-100 text-white dark:text-muted-foreground "
            >Terms of Use</Button
          >
        </li>
      </ul>
    </div>

    <!-- Social Media Links -->
    <div class="px-4 md:px-0 mx-auto w-full text-white">
      <h2 class="font-semibold mb-8">Stay updated with our latest offers.</h2>
      <SubscriptionForm client:load />
    </div>
  </div>

  <div class="border-t border-white/20 mt-8 pt-6 text-center text-white">
    <p class="text-sm">
      &copy; {new Date().getFullYear()} DHUB Property. All rights reserved.
    </p>
  </div>
</footer>
