---
import ContactTop from "$lib/components/svelte/ContactTop.svelte";
import Navigation from "$lib/components/svelte/Navigation.svelte";
import { SignedIn, SignedOut, UserButton } from "@clerk/astro/components";
import Logo from "$lib/components/svelte/icons/Logo.svelte";
import { Button } from "../ui/button";
import ModeToggle from "../svelte/ModeToggle.svelte";
import { UserIcon } from "lucide-svelte"
---

<div class="sticky left-0 top-0 z-[10] bg-white dark:bg-background">
  <ContactTop client:load />
  <div class="h-20 flex items-center">
    <div class="center relative flex items-center justify-between">
      <Logo client:load />
      <div class="flex items-center gap-4">
        <Navigation client:load />
        <div class="flex items-center gap-2">
          <!-- <SignedOut>
            <Button class="rounded-full md:hidden" size="icon" href="/sign-in">
              <UserIcon class="w-4 h-4" />
            </Button>
            <Button class="rounded-full hidden md:flex" href="/sign-in"
              >Login / Register</Button
            >
          </SignedOut>
          <SignedIn>
            <UserButton class:list={["w-10 h-10"]} />
          </SignedIn> -->
          <ModeToggle client:load class="hidden lg:flex" />
        </div>
      </div>
    </div>
  </div>
</div>
