---
import ContactTop from "$lib/components/svelte/ContactTop.svelte";
import Navigation from "$lib/components/svelte/Navigation.svelte";
import { SignedIn, SignedOut, UserButton } from "@clerk/astro/components";
import Logo from "$lib/components/svelte/icons/Logo.svelte";
import { Button } from "../ui/button";
import ModeToggle from "../svelte/ModeToggle.svelte";
import { UserIcon } from "lucide-svelte"
---

<div class="sticky left-0 top-0 z-[10] bg-white dark:bg-background">
  <ContactTop client:load />
  <div class="h-20 flex items-center">
    <div class="center relative flex items-center justify-between">
      <Logo client:load />
      <div class="flex items-center gap-4">
        <Navigation client:load />
        <div class="flex items-center gap-2">
          <ModeToggle client:load class="hidden lg:flex" />
        </div>
      </div>
    </div>
  </div>
</div>
