---
import Layout from "$lib/layouts/Layout.astro";
import Hero from "$lib/components/astro/Hero.astro";
import ContactUsForm from "$lib/components/svelte/ContactUsForm.svelte";
---

<Layout title="Contact Us">
	<div class="p-4 px-0 flex flex-col gap-4 md:gap-8 w-full">
		<Hero
			title="Get in Touch"
			subline="We'd love to hear from you! Reach out to us with any questions or feedback."
		/>

		<section class="container mx-auto my-12 p-6 rounded-lg shadow-lg max-w-2xl bg-white dark:bg-secondary">
			<h3 class="text-3xl font-bold mb-6 text-primary dark:text-alternate">Contact Us</h3>
			<ContactUsForm client:load />
		</section>
	</div>
</Layout>
