---
import Layout from "$lib/layouts/Layout.astro";
import Hero from "$lib/components/astro/Hero.astro";
import ContactUsForm from "$lib/components/svelte/ContactUsForm.svelte";
---

<Layout title="Contact Us">
	<div class="flex flex-col gap-4 md:center">
		<Hero
			title="Get in Touch"
			subline="We'd love to hear from you! Reach out to us with any questions or feedback."
		/>

		<section class="mx-auto w-full p-4 m-4 rounded-lg shadow-lg max-w-2xl bg-white dark:bg-secondary">
			<h3 class="text-3xl font-bold mb-6 text-primary dark:text-alternate">What can we help you with?</h3>
			<ContactUsForm client:load />
		</section>
	</div>
</Layout>
