---
import Layout from "$lib/layouts/Layout.astro";
import Hero from "$lib/components/astro/Hero.astro";
---

<Layout title="Cookie Policy">
  <main class="flex flex-col gap-4 w-full md:center">
    <Hero title="Privacy Policy" subline="Last Updated: August 19, 2024" />
    <div class="sc-9d14110-2 kxsHKW prose dark:prose-invert">
      <p class="sc-9d14110-4 jLiIMw">
        At Dhub property, we are committed to protecting the privacy of our
        users, partners, and all visitors to our website. We respect your
        privacy and we are committed to safeguarding any personal information
        that we collect from you. This policy outlines how we collect, use,
        store, and disclose your personal information.
      </p><h3 class="sc-9d14110-3 eXqNfv">
        Collection of Personal Information
      </h3><p class="sc-9d14110-4 jLiIMw">
        We may collect personal information from you when you interact with us,
        such as when you sign up on our website or to newsletters. This
        information may include your name, address, email address, phone number,
        and other details that you voluntarily provide.
      </p><h3 class="sc-9d14110-3 eXqNfv">Use of Personal Information</h3><p
        class="sc-9d14110-4 jLiIMw"
      >
        We may use your personal information to communicate with you about
        available job opportunities and events. We may also use your information
        for administrative purposes, such as maintaining our database and
        analyzing our effectiveness.
      </p><h3 class="sc-9d14110-3 eXqNfv">
        Disclosure of Personal Information
      </h3><p class="sc-9d14110-4 jLiIMw">
        We do not share, sell, or otherwise disclose your personal information
        to third parties except as required by law or as necessary to fulfill
        our purposes. For example, we may share your information with our
        trusted partners who assist us in processing sending newsletters, or
        analyzing our database for effectiveness.
      </p><h3 class="sc-9d14110-3 eXqNfv">Data Security</h3><p
        class="sc-9d14110-4 jLiIMw"
      >
        We take reasonable measures to protect the security of your personal
        information and to prevent unauthorized access, disclosure, or
        modification. However, no data transmission over the internet or other
        network can be guaranteed to be 100% secure. Therefore, while we strive
        to protect your personal information, we cannot guarantee its absolute
        security.
      </p><h3 class="sc-9d14110-3 eXqNfv">Changes to this Privacy Policy</h3><p
        class="sc-9d14110-4 jLiIMw"
      >
        We reserve the right to update or modify this privacy policy at any time
        without prior notice. Your continued use of our website and services
        constitutes your agreement to this policy and any updates or
        modifications.
      </p><h3 class="sc-9d14110-3 eXqNfv">Contact Information</h3><p
        class="sc-9d14110-4 jLiIMw"
      >
        If you have any questions or concerns about this privacy policy, please
        contact us at enquiries@dhubproperty.co.uk.
      </p>
    </div>
  </main>
</Layout>
