---
import Layout from "$lib/layouts/Layout.astro";
import Hero from "$lib/components/astro/Hero.astro";
---

<Layout title="Terms of Use">
	<main class="flex flex-col gap-4 w-full md:center">
		<Hero
			title="Terms of Use"
			subline="Welcome to Dhub Property! These terms and conditions outline the rules and regulations for the use of our website."
		/>
		<div class="sc-62d9e3e1-2 gZvbXF prose dark:prose-invert">
			<h3 class="sc-62d9e3e1-3 cWMKLw">Acceptance of Terms</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				By accessing or using this website ("Site"), you agree to comply with
				and be bound by these Terms of Use ("Terms"). If you do not agree to
				these Terms, please do not use the Site.
			</p><h3 class="sc-62d9e3e1-3 cWMKLw">Changes to Terms</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				We reserve the right to modify or update these Terms at any time without
				prior notice. Your continued use of the Site constitutes acceptance of
				the revised Terms.
			</p><h3 class="sc-62d9e3e1-3 cWMKLw">Use of Content</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				All content on this Site, including text, images, graphics, and other
				materials ("Content"), is owned by or licensed to us. You may not
				reproduce, distribute, modify, or use any Content without our express
				written consent.
			</p><h3 class="sc-62d9e3e1-3 cWMKLw">User Conduct</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				You agree not to use the Site in any way that is unlawful, harmful, or
				in violation of these Terms. You are solely responsible for your actions
				and any content you post on the Site.
			</p><h3 class="sc-62d9e3e1-3 cWMKLw">Privacy Policy</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				Your use of the Site is also governed by our Privacy Policy. By using
				the Site, you consent to the collection and use of your information as
				described in the Privacy Policy.
			</p><h3 class="sc-62d9e3e1-3 cWMKLw">Links to Third Party Sites</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				The Site may contain links to third-party websites or resources. We are
				not responsible for the content or privacy practices of these sites and
				encourage you to review their terms and policies.
			</p><h3 class="sc-62d9e3e1-3 cWMKLw">Disclaimer of Warranties</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				The Site is provided "as is" without any warranties of any kind, either
				express or implied, including but not limited to warranties of
				merchantability, fitness for a particular purpose, or non-infringement.
			</p><h3 class="sc-62d9e3e1-3 cWMKLw">Limitation of Liabilities</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				We shall not be liable for any indirect, incidental, special, or
				consequential damages arising out of or in connection with your use or
				inability to use the Site.
			</p><h3 class="sc-62d9e3e1-3 cWMKLw">Governing Law</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				These Terms shall be governed by and construed in accordance with the
				laws of the United Kingdom, without regard to its conflict of law
				principles.
			</p><h3 class="sc-62d9e3e1-3 cWMKLw">Contact Information</h3><p
				class="sc-62d9e3e1-4 enggIv"
			>
				If you have any questions or concerns regarding these Terms, please
				contact us at enquiries@dhubproperty.co.uk.
			</p>
		</div>
	</main>
</Layout>
