---
import Layout from "./Layout.astro";
import Hero from "$lib/components/astro/Hero.astro";

interface Frontmatter {
  name: string;
  active: boolean;
  subline: string
}

interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props as Props;
const { name, subline } = frontmatter;

---

<Layout title={name}>
  <section class="flex flex-col gap-4 w-full center">
		<Hero
			title={name}
			subline={subline}
		/>
    <main class="flex flex-col gap-8">
      <slot />
    </main>
  </section>
</Layout>
