---
import Layout from "./Layout.astro";
import Hero from "$lib/components/astro/Hero.astro";
import ContactBtns from "$lib/components/svelte/ContactBtns.svelte"

interface Frontmatter {
  name: string;
  active: boolean;
  subline: string
}

interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props as Props;
const { name, subline } = frontmatter;

---

<Layout title={name}>
  <section class="flex flex-col gap-4 w-full md:center">
		<Hero
			title={name}
			subline={subline}
		/>
    <main class="flex flex-col gap-8 px-4 md:px-0">
      <slot />
      <ContactBtns client:load />
    </main>
  </section>
</Layout>
